* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #265823;
}

p {
    font-size: 1.2rem;
    color: #fff;
    display: inline;
}

a {
    text-decoration: none;
    color: rgb(131, 233, 143);
    font-weight: bold;
}

.lyrics {
    font-size: 1.5rem;
    color: #fff;
}

#word1 {
    color: #101dce;
    display: inline;
}
#word2 {
    color: #f42daf;
    display: inline;
}
#word3 {
    color: #ffc800;
    display: inline;
}
#word4 {
    color: #b32ad1;
    display: inline;
}
