* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #265823;
}

p {
    font-size: 1.2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

a {
    text-decoration: none;
    color: rgb(199, 59, 59);
    font-weight: bold;
}