* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #265823;
    color: #fff;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    color: greenyellow;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

.lyrics {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.5;
    top: 30px;
    bottom: 20px;
    animation-name: lyricAnimate;
    animation-duration: 5s;
    animation-iteration-count: one;
    animation-timing-function: fadein;
    animation-direction: alternate;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.words {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.5;
    top: 30px;
    bottom: 20px;
}


a {
    text-decoration: none;
    color: rgb(131, 233, 143);
    font-weight: bold;
    font-size: 100px;
    display: inline;
    margin: 0.5rem;
    animation-name: aAnimate;
    animation-duration: 5s;
    animation-iteration-count: one;
    animation-timing-function: fadein;
    animation-direction: alternate;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

a:hover {
    transform: translate(100px, 20px)scale(1.5);
}

#word1 {
    color: #101dce;
    font-weight: bold;
    font-size: 100px;
    margin: 0.5rem;
    display: inline;
    animation-name: word1Animate;
    animation-duration: 5s;
    animation-iteration-count: one;
    animation-timing-function: fadein;
    animation-direction: alternate;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

#word1:hover {
    background-color: rgb(154, 5, 208);
    transform: rotate(300deg);
}

#word2 {
    color: #f42daf;
    font-weight: bold;
    font-size: 100px;
    margin: 0.5rem;
    display: inline;
    animation-name: word2Animate;
    animation-duration: 5s;
    animation-iteration-count: one;
    animation-timing-function: fadein;
    animation-direction: alternate;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

#word2:hover {
    background-color: rgb(208, 5, 5);
    transform: scale(2);
}

#word3 {
    color: #ffc800;
    font-weight: bold;
    font-size: 100px;
    margin: 0.5rem;
    display: inline;
    animation-name: word3Animate;
    animation-duration: 5s;
    animation-iteration-count: one;
    animation-timing-function: fadein;
    animation-direction: alternate;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

#word3:hover {
    background-color: rgb(247, 160, 21);
    transform: translate(-30px, 45px);
}

#word4 {
    color: #b32ad1;
    font-weight: bold;
    font-size: 100px;
    margin: 0.5rem;
    display: inline;
    animation-name: word4Animate;
    animation-duration: 5s;
    animation-iteration-count: one;
    animation-timing-function: fadein;
    animation-direction: alternate;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

#word4:hover {
    background-color: rgb(190, 232, 254);
    transform: rotate(90deg) scale(1.2);
}

@keyframes lyricAnimate {
    from {
        color: #265823;
    }
    to {
        color: #fff;
    }
}

@keyframes aAnimate {
    from {
        color: #265823;
    }
    to {
        color: rgb(131, 233, 143);
    }
}

@keyframes word1Animate {
    from {
        color: #265823;
    }
    to {
        color: #101dce;
    }
}
@keyframes word2Animate {
    from {
        color: #265823;
    }
    to {
        color: #f42daf;
    }
}
@keyframes word3Animate {
    from {
        color: #265823;
    }
    to {
        color: #ffc800;
    }
}
@keyframes word4Animate {
    from {
        color: #265823;
    }
    to {
        color: #b32ad1;
    }
}



